/*############################*/
/*#########CRIADO POR#########*/
/*#########𝙼𝚊𝚜𝚝𝚎𝚛#9335#######*/
/*############################*/

@import url('https://fonts.googleapis.com/css?family=Syncopate|Unica+One');
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

body, html {
	overflow-y: hidden;
}

.img1 { 
	margin: 15px auto;
	padding: 15	px 24px;
	display: inline-block;
	position: relative;
	left: 10%;
	bottom: -25px
}

.img2 {
	margin: 15px auto;
	padding: 15	px 24px;
	display: inline-block;
	position: relative;
	left: 30%;
	margin-top: -6%;
	bottom: 55px
}

button{ 
    color: rgb(255, 255, 255);
    background-color:  #c90000;
    font-family: 'Unica One', cursive;
	font-size: 20px;
    background-size: 50px;
    margin: 15px auto;
	padding: 15	px 24px;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    width: 20%;
    height: 10%;
    display: inline-block;
    position: relative;
    left: 10%;
    bottom: -100px;

}
#exitbank{
	width: 18%;
}

h3{
	color: #c9000000;
	position: absolute;
	left: 10%;
	bottom: 80%;
}

h4{
	position: absolute;
	left: 72%;
	bottom: 80%;
}

.general{
    background-image: url('https://i.imgur.com/Fxcf8jS.png');
	background-repeat: no-repeat;
	font-family: 'Unica One', cursive;
	background-size: 600px 350px;
	width: 600px;
	height: 400px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
    padding: 10px;
	position: absolute;
	top: 45%;
	left: 35%;
	margin-top: -250px;
	margin-left: -400px;
	padding-bottom: 20px;
}

.depositUI{
    background-image: url('https://i.imgur.com/Fxcf8jS.png');
	background-repeat: no-repeat;
	font-family: 'Unica One', cursive;
	background-size: 600px 350px;
	width: 600px;
	height: 400px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
    padding: 10px;
	position: absolute;
	top: 45%;
	left: 35%;
	margin-top: -250px;
	margin-left: -400px;
	padding-bottom: 20px;
}
.withdrawUI{
    background-image: url('https://i.imgur.com/Fxcf8jS.png');
	background-repeat: no-repeat;
	font-family: 'Unica One', cursive;
	background-size: 600px 350px;
	width: 600px;
	height: 400px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
    padding: 10px;
	position: absolute;
	top: 45%;
	left: 35%;
	margin-top: -250px;
	margin-left: -400px;
	padding-bottom: 20px;
}

.transferUI{
    background-image: url('https://i.imgur.com/Fxcf8jS.png');
	background-repeat: no-repeat;
	font-family: 'Unica One', cursive;
	background-size: 600px 350px;
	width: 600px;
	height: 400px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
    padding: 10px;
	position: absolute;
	top: 45%;
	left: 35%;
	margin-top: -250px;
	margin-left: -400px;
	padding-bottom: 20px;
}

#from, #to, #amountt {
	position: relative;
    top: 100px;
    left: 62px;
    
	font-family: 'Unica One';
    width: 40%;
    height: 8%;
    padding: 5px 5px;
    margin: 15px 0;
    box-sizing: border-box;
 
}

h1{
	font-family: 'Unica One', cursive;
	color: black;
	position: relative;
	left: 48%;
	top: 39%;
}
.b{
	
	font-family: 'Unica One', cursive;
	color: black;
	position: relative;
	left: 30%;
	top: 30%;
}

input[type=text] {
	position: relative;
    top: 100px;
    left: 62px;
    
	font-family: 'Unica One';
    width: 70%;
    height: 10%;
    padding: 5px 5px;
    margin: 40px 0;
    box-sizing: border-box;
 
	
}


button:hover{
    background-color: #ff0000;
}


